
.background {
  width: auto;
  max-width: 100%;
  min-width: 100%;
  height: 50vh;
  position: relative;
  margin:0px;
}
.sinoright{
  width:20%;
  top: 50px;
  left: -8%;
  rotate:(330deg);
}
.sinoleft{
  width:20%;
  top: 50px;
  left: 88%;
  rotate:(40deg);
 
}
.topo{
  width:100%;
  opacity: 0;
}
.logo {
  width: 25vh;
  height: 25vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom:-10vh;
  text-align: center;
  border-radius: 50%;
  border: 5px solid #D95023;
}

.logo-natal {
  width: 27vh;
  height: 27vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom:-10vh;
}

.snowflakes-container {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.snowflake {
  position: absolute;
  top: -10%;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  user-select: none;
  animation-name: snowfall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform, opacity;
}

@keyframes snowfall {
  0% {
    top: -10%;
  }

  100% {
    top: 110%;
  }
}

.schedule-time {
  width: 100%;
  height: 50vh;
  background-color: #000;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  .title {
    font-size: 6vw;
    font-weight: 600;
    font-family:'college';
  }

  .sub-title {
    font-size: 1.2vw;
    margin-top: 2vh;
    font-weight: 800;
    font-family: 'poppins';
  }

  button {
    // background-color: #d95023;
    font-family: "poppins";
    color: #fff;
    background: linear-gradient(45deg, #b30e0e, #ff0808);
    border-radius: 12px;
    width: 12vw;
    border: 3px solid #d9b64e;
    height: 5vh;
    margin-top: 5vh;
    font-weight: 800;
    font-size: 1vw;
    /* border: none; */
    opacity: 0.8;
    cursor: pointer;
  }

  button:hover {
    opacity: 1;
  }
} 

@media screen and (min-width:900px){
  .sinoright{
    display: none;
  }
  .sinoleft{
    display: none;
   
  }
  .topo{
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .sinoright{
    width:30%;
    top: 17px;
    left: -13%;
    rotate:(330deg);
    position:absolute;
    z-index:500
  }
  .sinoleft{
    width:30%;
    top: 17px;
    left: 82%;
    rotate:(40deg);
    position:absolute;
    z-index:500
  }
  .topo{
    opacity: 100;
    width:100%;
    position:absolute;
    z-index:500
  }
  .background {
    height: 30vh;
  }

  .logo {
    width: 40%;
    height: 150px;
    bottom:-60px;
  }

  .schedule-time {
    height: 35vh;
    justify-content: center;
    .title {
      margin-top: 35px;
      font-size: 30px;
    }

    .sub-title {
      font-size: 12px;
    }
    button {
      width: 60%;
      font-size: 13px;
      opacity: 1;
    }

    button:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-height: 600px) {
  .logo {
    bottom: -41px !important;
  }
}