.header {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  width:96%;
  height: 5vh;
  color:#fff;
  padding:2px 2vw;
  
  .title {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .title:hover {
    color: orange;
    fill: orange;
    stroke:orange;
  }
  span {
    font-weight: 600;
    margin-left: 1vw;
  }

  img {
    width: 2vw;
    height: 2vw;
  }
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 14px;
    img {
      width: 30px;
      height: 30px;
    }

    .title {
      font-size: 12px;
      gap:1px;
      
    }
    .title:hover {
      color: #fff;
      fill: #fff;
      stroke:#fff;
    }
  }

 
}