.footer { 
  width: 100%;
  background:#000;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap:0px;
  padding-left: 10px;

  img {
    width:20px;
    height: 20px;
  }
  .insta{
   width: 30px;
   height: 30px;
   margin-left: 5px;
  }


  @media screen and (max-width: 900px) {

    .insta{
       width: 32px;
       height: 32px;
       margin-left: 5px;
    }
  }
}

