@font-face {
  font-family: 'college';
  src:url('./fonts/Young\ Heart.ttf')
}

@font-face{
  font-family: 'poppins';
  src:url('./fonts/Poppins-Black.ttf')
}

@font-face{
  font-family: 'poppins-regular';
  src:url('./fonts/Poppins-Regular.ttf')
}

button {
  cursor: pointer;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}