@font-face {
  font-family: 'college';
  src:url('./fonts/Young\ Heart.ttf')
}

@font-face{
  font-family: 'poppins';
  src:url('./fonts/Poppins-Black.ttf')
}

@font-face{
  font-family: 'poppins-regular';
  src:url('./fonts/Poppins-Regular.ttf')
}

button {
  cursor: pointer;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}